.todoapp {
  background-image: linear-gradient(-45deg, red, orange);
  background-repeat: repeat-y;
  background-size: 200% 200%;
  transition: all .1s ease;
  padding: 100px;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;

  h1 {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
}

main {
  background: #fff;
  padding: 40px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  width: 30vw;
  min-width: 300px;
  max-width: 800px;
  margin: 0 auto;

  ul {
    list-style-type: disc;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
